.heading {
  background: url(../../images/heading-bg.png) no-repeat;
  background-size: cover;
  background-position: center;

  h3 {
    font-size: 3.5rem;
    color: $black;
  }

  p {
    font-size: 1.6rem;
    color: $light-color;
    padding-top: 0.5rem;

    a {
      padding-right: 0.5rem;
      color: $pink;

      &:hover {
        color: $blue;
      }
    }
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .image {
    flex: 1 1 42rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 42rem;

    h3 {
      color: $black;
      font-size: 4.5rem;
    }

    p {
      font-size: 1.4rem;
      padding: 1rem 0;
      color: $light-color;
      line-height: 2.5;
    }
  }
}

@include large {
  .about .content h3 {
    font-size: 3rem;
  }
}
