.course-2 {
  @include grid(31rem);

  .box {
    padding: 2rem;
    border-radius: 1rem;
    background: $light-bg;

    .image {
      margin-bottom: 2rem;
      text-align: center;

      img {
        height: 22rem;
      }
    }

    .content {
      span {
        font-size: 1.4rem;
        color: $pink;
        background: $light-pink;
        padding: 0.5rem 1rem;
      }

      h3 {
        color: $black;
        line-height: 2;
        margin-top: 1.5rem;
        font-size: 2rem;
      }

      p {
        font-size: 1.4rem;
        color: $light-color;
        line-height: 2.5;
        padding: 1rem 0;
      }

      .btn {
        padding: 1rem 5rem 1rem 1rem;
      }
      .icons {
        margin-top: 2rem;
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: $border;

        a {
          font-size: 1.4rem;
          color: $light-color;

          &:hover {
            color: $pink;
          }

          i {
            padding-right: 0.5rem;
            color: $pink;
          }
        }
      }
    }
  }
}
